.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
coverage/
*~
*.DS_Store
*.out
*.swp
.sass-cache/
.sass-cache/*
.sass-cache/**
tmp/
tmp/*/*
tmp/**
pkg/*
*/*.swp
db/schema.rb
public/system/*
public/system/**
