---
http_interactions:
- request:
    method: get
    uri: https://nfe.prefeitura.sp.gov.br/ws/lotenfe.asmx?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://www.prefeitura.sp.gov.br/nfe\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://www.prefeitura.sp.gov.br/nfe\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://www.prefeitura.sp.gov.br/nfe\">\r\n
        \     <s:element name=\"EnvioRPSRequest\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"1\" maxOccurs=\"1\"
        name=\"VersaoSchema\" type=\"s:int\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"MensagemXML\" type=\"s:string\" />\r\n          </s:sequence>\r\n
        \       </s:complexType>\r\n      </s:element>\r\n      <s:element name=\"EnvioRPSResponse\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"RetornoXML\" type[...]
- request:
    method: post
    uri: https://nfe.prefeitura.sp.gov.br/ws/lotenfe.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.prefeitura.sp.gov.br/nfe"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:s="http://www.w3.org/2001/XMLSchema"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.prefeitura.sp.gov.br/nfe"
        xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><soap:Body><ConsultaNFeEmitidasRequest><VersaoSchema>1</VersaoSchema><MensagemXML>&lt;PedidoConsultaNFePeriodo
        xmlns=&quot;http://www.prefeitura.sp.gov.br/nfe&quot;&gt;&lt;Cabecalho xmlns=&quot;&quot;
        Versao=&quot;1&quot;&gt;&lt;CPFCNPJRemetente&gt;&lt;CNPJ&gt;38240036000204&lt;/CNPJ&gt;&lt;/CPFCNPJRemetente&gt;&lt;CPFCNPJ&gt;&lt;CNPJ&gt;38240036000204&lt;/CNPJ&gt;&lt;/CPFCNPJ&gt;&lt;Inscricao&gt;77764684&lt;/Inscricao&gt;&lt;dtInicio&gt;2023-08-01&lt;/dtInicio&gt;&lt;dtFim&gt;2023-08-07&lt;/dtFim&gt;&lt;NumeroPagina&gt;1&lt;/NumeroPagina&gt;&lt;/Cabecalho&gt;[...]
